@import "../../App.css";

html {
    scroll-behavior: smooth;
}

.DetailLayout #popupContainer.enabled {
    position: fixed;
    z-index: 101;
    display: block;
    width: 100%;
    height: 100%;
}

.DetailLayout #popupContainer.disabled {
    position: fixed;
    display: none;
    z-index: 99;
    width: 100%;
    height: 100%;
}

.DetailLayout .QnAPopup {
    position: absolute;
}

.DetailLayout #popupContainer #popupBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #55555580;
}

.DetailLayout .mainProductContent {
    width: 75%;
    margin-top: 8%;
    margin-left: 15%;
    margin-right: 20%;
    position: absolute;
}

.DetailLayout .brief {
    width: 75%;

}

.DetailLayout .brief .brief_images {
    width: 75%;
    display: inline-block;
}

.DetailLayout .brief .thumbnail_div {
    position: absolute;
    margin-left: 3%;
    width: 20%;
    display: inline-block;
}

.DetailLayout .brief .thumbnail_div img {
    max-width: 100%;
    max-height: 100%;
}

.DetailLayout .brief .thumbnail_div pre {
    font-size: 12px;
    line-height: 1.25;
    color: rgb(0, 0, 0);
    font-family: "Noto Sans", "Noto Sans KR", "Nanum Gothic", 나눔고딕, sans-serif;
}

.DetailLayout .detail {
    position: relative;
    margin-top: 40px;
}

.DetailLayout .detail div {
    margin-bottom: 3%;
}

.DetailLayout .detail.is_fixed {
    padding-top: 67px;
}

.DetailLayout .quick_nav_wrap li div a {
    background-color: white;
    color: black;
    padding: 3%;
    display: inline-block;
    width: 100%;
}

.DetailLayout .quick_nav_wrap li div a.selected {
    background-color: var(--main-color);
    color: white;
}

.DetailLayout .detail .quick_nav_wrap {
    position: relative;
    background-color: white;
}

.DetailLayout .detail.is_fixed .quick_nav_wrap {
    position: fixed;
    top: 0;
    width: 75%;
}

.DetailLayout .detail ul {
    padding: 0;
    border-top: 1px solid #000;
    list-style: none;
}

.DetailLayout .detail ul li {
    width: 25%;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.DetailLayout .detail ul li div {
    text-align: center;
}

.DetailLayout .detail div img {
    margin-top: 3%;
    width: 100%;
}

.DetailLayout .detail table {
    margin-top: 20px;
    margin-bottom: 20px;
}

.DetailLayout .detail #detail_refund_exchange tbody th {
    width: 20%;
    padding-left: 4%;
    padding-right: 4%;
    background: #f5f5f5;
}

.DetailLayout .detail #detail_refund_exchange tbody td {
    padding-left: 10px;
}

.DetailLayout #detailSideDiv {

    z-index: 100;
    width: 20%;
    float: right;
    margin-left: 80%;
    margin-top: 15%;
    position: fixed;
}

.DetailLayout #detailSideDiv h3 {
    margin-left: 5%;
}

.DetailLayout #detailSideDiv #purchaseButtons {
    font-weight: bold;
    width: 70%;
    margin-left: 5%;
    cursor: pointer;
}

.DetailLayout #detailSideDiv .itemNumber {
    width: 50%;
    margin-left: 5%;
}

#detailSideDiv .itemNumber div {
    display: inline-block;
    width: 50%
}

.DetailLayout #detailSideDiv .itemNumber div input {
    margin-left: 70%;
    width: 100%;
}

.DetailLayout #detailSideDiv #itemOptions {
    margin: 5%;
    width: 70%;
}

.DetailLayout #detailSideDiv #itemInfo .itemInfoRow {
    margin: 5%;
}

.DetailLayout #detailSideDiv #itemInfo .itemInfoRowName {
    width: 50%;
}


.DetailLayout #detailSideDiv #itemInfo .itemInfoRow div {
    display: inline-block;
    display: inline;
    float: left;
}

.DetailLayout #detailSideDiv .finalPrice {
    margin: 5%;
}

.DetailLayout #detailSideDiv .finalPrice div {
    display: inline-block;
    display: inline;
    float: left;
    width: 30%;
}

.DetailLayout #detailSideDiv #divBuy {
    background-color: var(--main-color);
    color: #fff;
    height: 3%;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}

.DetailLayout #detailSideDiv #basketDiv {
    border: 1px solid;
    border-color: var(--main-color);
    height: 3%;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}


.DetailLayout .lastSpace {
    width: 100%;
    padding: 50%;
}

.DetailLayout .detail #detail_qa {
    position: relative;
}

.DetailLayout .detail #detail_qa #button_product_qna {
    margin-top: 2%;
    text-align: right;
}

.DetailLayout .detail #detail_qa #button_product_qna > a {
    cursor: pointer;
    background: var(--main-color);
    color: #ffffff;
    padding: 10px;
    font-size: 16px;
}

.DetailLayout .detail #detail_qa table {
    border-spacing: 0;
}

.DetailLayout .detail #detail_qa table tr th {
    padding: 0;
    line-height: 49px;
    background-color: #fff;
    border-top: 1px solid #000;
    border-bottom: 1px solid #eee;
}