@import "../../App.css";

.UpdateInformationLayout {
    width: 50%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 30%;
    height: 75%;
    padding: 5%;
    position: absolute;
    border-radius: 8px;
    border: 2px solid var(--main-color);
}

.UpdateInformationLayout form {
    position: absolute;
    margin: 0 auto;
    width: 80%;
    height: 80%;
    visibility: visible;
}

.UpdateInformationLayout form.hide {
    opacity: 1;
    visibility: hidden;
}

.UpdateInformationLayout .errorToolTip {
    color: red;
    display: none;
}

.UpdateInformationLayout form input, .UpdateInformationLayout form select {
    padding: 3% 0;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid var(--main-color);
}

.UpdateInformationLayout .personalInfo {
    margin-top: 5%;
    padding-top: 5%;
}

.UpdateInformationLayout .authField input {
    width: 100%;
    margin-top: 3%;
}

.UpdateInformationLayout .nameField {
    white-space: nowrap;
    display: flex; /* or inline-flex */
    flex-wrap: nowrap;
}

.UpdateInformationLayout .nameField .rightPaddingDiv {
    padding-right: 3%;
}

.UpdateInformationLayout .nameField div {
    width: 50%;
    display: inline-block;
}

.UpdateInformationLayout .nameField input {
    width: 100%;
    margin-top: 3%;
}

.UpdateInformationLayout .phoneNumberField input {
    width: 100%;
    margin-top: 3%;
}

.UpdateInformationLayout select {
    background: none;
    margin-top: 3%;
    border-radius: 4px;
    border: 1px solid var(--main-color);
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    color: black;
    background-color: white;
    cursor: default;
}

.UpdateInformationLayout select-selected {
    background-color: var(--main-color);
}

.UpdateInformationLayout .controlButton {
    text-align: center;
}

.UpdateInformationLayout .controlButton div {
    margin: 5%;
    width: 20%;
    display: inline-block;
    text-align: center;
}

.UpdateInformationLayout form .controlButton div a {
    background-color: var(--main-color);
    color: #fff;
    display: inline-block;
    padding: 15%;
    font-size: 16px;
    cursor: pointer;
}

.UpdateInformationLayout .birthdayField {
    white-space: nowrap;
    display: flex; /* or inline-flex */
    flex-wrap: nowrap;
}

.UpdateInformationLayout .birthdayField div {
    width: 33.333333%;
    display: inline-block;
}

.UpdateInformationLayout .birthdayField .rightPaddingDiv {
    padding-right: 3%;
}

.UpdateInformationLayout .birthdayField div input {
    width: 100%;
    margin-top: 3%;
}

